<div ng-include="'partials/navbar'"></div>

<div>
  <h1>NYC Restaurant Browser</h1>
  <p>Showing {{(output.venuesMeta | byBoroughAndCategoryAndName:input).length}} results</p>
</div>

<div class="row">
  <div class='col-sm-6'>
    <form class="form-horizontal" role="form">
      <div class='form-group'>
        <label for='boroughSelector' class="col-sm-2 control-label">Borough</label>
        <div class="col-sm-10">
        <select class="form-control"
                chosen
                allow-single-deselect="true"
                name="boroughSelector"
                data-placeholder="Borough"
                data-ng-model="input.boroughSelector"
                ng-options="b as b | upcase for b in input.boroughs">
          <option value=""></option>
        </select>
        </div>
      </div>

      <div class='form-group'>
        <label for='categorySelector' class="col-sm-2 control-label">Category</label>
        <div class="col-sm-10">
        <select class="form-control"
                chosen
                allow-single-deselect="true"
                name="categorySelector"
                data-placeholder="Category"
                data-ng-model="input.categorySelector"
                ng-options="c as c | upcase for c in input.categories">
          <option value=""></option>
        </select>
        </div>
      </div>

      <div class='form-group'>
        <label for='nameSelector' class="col-sm-2 control-label">Name</label>
        <div class='col-sm-10'>
        <input class="form-control" data-ng-model="input.nameSelector" name='nameSelector' type='text' placeholder='Name' />
        </div>
      </div> 
    </form>
  </div>

  <div class="marketing col-sm-6">
    <div ng-repeat="meta in output.venuesMeta | byBoroughAndCategoryAndName:input"> 
        <h4>{{meta.venue.name}}</h4>  
        <span class='text-muted'>
          in <strong>{{meta.venue.location.city | upcase}}</strong> in <strong>{{meta.venue.categories[0].shortName}}</strong> category
        </span>
        <img ng-src={{meta.primary_photo}} style="width: 306px; height: 306px;"/>
    </div>
  </div>
</div>

